  <body>
    
  
  <div class="wrapper"></div>
  <footer class="footer">
    <section class="grid-footer">
      <div class="textos-footer">
        <h2 class="subtitulo">Siguenos en nuestras redes sociales</h2>
      </div>
      <div class="footer-item1">
        <a href="https://www.facebook.com/" target="-block">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
      <div class="footer-item2">
        <a href="https://twitter.com/" target="-block">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <div class="footer-item3">
        <a href="https://www.instagram.com/?hl=es" target="-block">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <div class="footer-item4">
        <a href="https://www.linkedin.com/" target="-block">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <p>EasyDoc&copy; 2021.Todos los derechos reservados.</p>
    </section>
  </footer>

</body>