<div class="container mt-5">
  <div class="row">
    <div class="col-auto offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Lista de Pacientes</span>
          <button class="btn btn-success float-end" routerLink="/crear-paciente">Nuevo</button>
          <table *ngIf="listarPacientes.length > 0" class="table table-success table-striped table-hover mt-3">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Genero</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Usuario</th>
                <th scope="col">Contraseña</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paciente of listarPacientes">
                <td>{{paciente.nombre}}</td>
                <td>{{paciente.apellido}}</td>
                <td>{{paciente.genero}}</td>
                <td>{{paciente.email}}</td>
                <td>{{paciente.telefono}}</td>
                <td>{{paciente.usuario}}</td>
                <td>{{paciente.password}}</td>
                <td>
                  <i [routerLink]="['/editar-paciente', paciente._id]" class="fas fa-user-edit text-primary"></i>
                  <i (click)="eliminarPaciente(paciente._id)" class="fas fa-trash text-danger"></i>
              </tr>

            </tbody>
          </table>
          <h5 style="text-align: center; margin-top: .6rem;" *ngIf="listarPacientes.length === 0">¡No hay pacientes
            para
            mostrar!</h5>
        </div>
      </div>
    </div>
  </div>
</div>
